form{
  margin-top: 100px;
}
input, button{
  font-size: 26px;
  cursor: pointer;
}
h1{
  text-align: center;
}
main{
  width:70%;
  text-align: center;
  padding: 40px;
  border: solid;
  margin:auto;
  margin-top: 100px;
  background-color: bisque;
}
.error{
  color:red;
  font-size: 20px;
}